/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

h1{
	font-size: 25px;
	color: black;
	margin-bottom: 20px;
}
h2{margin-bottom: 15px;}
html,
body {
	height: 100%;
	background-color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000;
	font-size: 16px;
	padding:20px;
}
li{
	margin-bottom: 15px;
}

.gallery{

}
.gallery__image{
margin-bottom: 20px;

}
.gallery__image:last-child{
margin-bottom: 0px;

}

.gallery__image img{
width: 300px;
height: 200px;
}

#counter button{
	width: 30px;
	height: 30px;
}
#counter span{
	font-size: 20px;
}